div {
    position: absolute;
    width: 23px;
    height: 23px;
}

.B0 {
    background-image: url("../Images/B0.gif")
}

.B1 {
    background-image: url("../Images/B1.gif")
}

.B2 {
    background-image: url("../Images/B2.gif")
}

.B3 {
    background-image: url("../Images/B3.gif")
}

.B4 {
    background-image: url("../Images/B4.gif")
}

.B5 {
    background-image: url("../Images/B5.gif")
}

.B6 {
    background-image: url("../Images/B6.gif")
}

.B7 {
    background-image: url("../Images/B7.gif")
}

.B8 {
    background-image: url("../Images/B8.gif")
}

.BX {
    background-image: url("../Images/BX.gif")
}

.D0 {
    background-image: url("../Images/D0.gif")
}

.D1 {
    background-image: url("../Images/D1.gif")
}

.C0 {
    background-image: url("../Images/C0.gif")
}

.C1 {
    background-image: url("../Images/C1.gif")
}